<h1> <%= @song.title %> </h1>
<p>Artist: <%= @song.artist_name %></p>
<p>Genre: <%= @song.genre %></p>
<p> Release Year: <%= @song.release_year %></p>
<%= button_to "Edit", edit_song_path(@song), :method => :get  %>
<%= button_to('Destroy', song_path,
          method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
