<h1><%= @song.title %></h1>
<div>Released: <%= @song.released %></div>
<div>Release Year: <%= @song.release_year %></div>
<div>Artist: <%= @song.artist_name %></div>
<div>Genre: <%= @song.genre %></div>
